<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <form action="/articles/<%= article.id%>/edit" method="POST">
        <input type="text" name="title" id="" value="<%= article.title%>">
        <textarea name="description" id="" cols="30" rows="10"><%= article.description%></textarea>
        <input type="submit" name="" id="" value="Update Article">
    </form>
</body>

</html>